/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #155bd5 
GREY COLOR: #fafafa
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow: visible;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #e8effb;
  font-family: "Inter", sans-serif;
  color: #fff;
}

header {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.logo {
  height: 70px;
  cursor: pointer;
}

h1 {
  font-size: 36px;
  align-self: center;
  color: #fff;
}

.swap {
  height: 70px;
  background-color: #fff;
  border: 2px solid transparent;
  stroke: #155bd5;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 35px;
  padding: 12px;
}

.swap:hover {
  border: 2px solid #fff;
  background-color: #155bd5;
  stroke: #fff;
}

.exchange-box {
  position: relative;
  height: 500px;
  width: 1000px;
  margin: 100px auto 50px auto;
  background-color: #155bd5;
  border-radius: 1rem;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
}

.exchange-values {
  padding: 60px 0px;
  display: flex;
  justify-content: center;
  gap: 55px;
  color: #d0def7;
}

.sum {
  font-size: 30px;
  width: 220px;
  height: 70px;
  padding: 0 1rem;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.sum::placeholder {
  color: #6d6d6d;
}

.info-up {
  font-weight: bold;
  font-size: 30px;
}

.exchange-result {
  margin-left: 90px;
  width: 500px;
}

.convert-btn {
  position: absolute;
  bottom: 85px;
  right: 170px;
  border: none;
  line-height: 1em;
  text-align: center;
  background: #fff;
  color: #155bd5;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  background-size: 300%;
  border-radius: 4px;
  width: 150px;
  height: 60px;
  font-size: 24px;
}

.convert-btn:hover {
  background-color: #155bd5;
  border: 1px solid #fff;
  color: #fff;
}

.left-dropdown {
  border: 1px solid transparent;
  font-size: 24px;
  font-weight: bold;
  height: 70px;
  width: 100px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

.right-dropdown {
  border: 1px solid transparent;
  font-size: 24px;
  font-weight: bold;
  height: 70px;
  width: 100px;
  border-radius: 4px;
  color: black;
  cursor: pointer;
}

.result {
  font-size: 36px;
  margin-left: 80px;
}

.common-values {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 450px;
  width: 1000px;
  margin: 50px auto;
  font-size: 20px;
}

.common {
  width: 470px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  background-color: #155bd5;
  border-radius: 1.2rem;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}

.common-header {
  font-weight: bold;
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 150px;
  width: 100%;
  background: white;
  border-radius: 1rem 1rem 0 0;
  color: black;
  padding-top: 10px;
}

.values {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #d0def7;
}

.results {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
